{% extends "base.html" %}

{% block content %}

<h1>Welcome to Billy's Pet Shop!</h1>
<br>
<img src="{{ url_for('static', filename='assets/IMG_4269.jpeg') }}" alt="Beautiful Boykin Spaniel" class="img-fluid" style="width: 100%; max-width: 90%; max-height: 70vh; height: auto;"
<br>
<p> Opened in 2018 in downtown Milledgeville, Billy's Pet Shop has been providing dog owners across middle-Georgia the best and more affordable products for their pups. Billy's Pet Shop proudly employs 17 residents in the community and we invite you and your pup to come meet our team!
Located on 349 W Hancock Street</p>
{% endblock %}t